
div {
    width: 100px;
    height: 100px;
    margin: 25% auto;
    position: relative;
    border-radius: 50%;
    background: pink;

    animation-name: Bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes Bounce {
    0% {
        top: 0px;
        right: 0px;
    }

    50% {
        top: 100px;
        right: 20px;
        width: .75em;
        height: .75em;
        box-shadow:  0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    100% {
        top: 0px;
        right: 0px;
        
    }
}